{% extends 'base.html.twig' %}

{% block title %}Measurement Details{% endblock %}

{% block body %}
    <h1>Measurement Details</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ measurement.id }}</td>
        </tr>
        <tr>
            <th>Date</th>
            <td>{{ measurement.date ? measurement.date|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Celsius</th>
            <td>{{ measurement.celsius }}</td>
        </tr>
        </tbody>
    </table>

    <a href="{{ path('app_measurement_index') }}" class="btn btn-secondary">Back to list</a>
{% endblock %}
