{% extends 'base.html.twig' %}

{% block title %}Edit Location{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="my-4">Edit Location</h1>

        <div class="mb-4">
            {{ include('location/_form.html.twig', {'button_label': 'Update'}) }}
        </div>

        <a href="{{ path('app_location_index') }}" class="btn btn-secondary">Back to list</a>

        <div class="mt-3">
            {{ include('location/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
